# Values that can be filled out
BOT_TOKEN=
DISCORD_WEBHOOK_URL=
CREATOR_IDS=
INIT_COMMANDS_GUILD_ID=
MESSAGE_BATCH_SIZE=10

# Will be generated and stored to here if not provided
AES_KEY=

# Fill this out if you want to use a haste server for logs, otherwise the bot will use text logs
PASTE_CREATE_ENDPOINT=https://haste.unbelievaboat.com/
# If the haste instance requires authorization
# PASTE_CREATE_TOKEN=
# The absolute base URL that documents are created at, without trailing /
# PASTE_BASE_URL=

# Postgres Database (Required for storing messages and guild settings)
PGUSER=
PGPASSWORD=
PGDATABASE=

# Network settings for Postgres and Redis, only change if not running them on Docker
PGHOST=postgres
PGPORT=5432
REDIS_HOST=redis
REDIS_PORT=6379

# Time in milliseconds for how long the Redis lock should be valid for
REDIS_LOCK_TTL=30000

# If you want to save resources in your VPS,
# configure this to delete old messages that are older than X days (default 90 days).
# You can leave these two settings as default.
PRUNE_INTERVAL_HOURS=24
MESSAGE_LIFESPAN_DAYS=90